<!DOCTYPE html>
<html>
  <head>
    <title>My Software Licenses' Manager</title>
    <link rel='stylesheet' href='/Pages.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

  </head>
  <body>
    <div id='title'>
      <h1>My Software Licenses' Manager</h1>
    </div>
    <div class='menu' >
      <!-- Tabs Detail -->
      <div class='tabs' >
        <span data-tab-value='#Home'>Home</span>
        <span data-tab-value='#Clients'>Clients</span>
        <span data-tab-value='#IssueLicense'>Issue License</span>
        <span data-tab-value='#MyAccount'>My account</span>
        <span data-tab-value='#LogOut'> <a href='LogInPage.html' id='logout' type='button'>Log out</a></span>
      </div>
      <!-- Tab content -->
      <div class='tab-content'>
<!------------------------------------------------Home Tab content------------------------------------------------------->
        <div class='tabs__tab active' id='Home' data-tab-info>
          <p>
            Welcome to the Software Licenses' Manager Platform. Managing software licenses might become cumbersome for both software users and providers.<br>
            Our objective is to provide a platform that helps providers and clients in managing their 
            licenses easily and securely. We mainly prioritize generating, safely storing, checking, and 
            enforcing valide and legitimate of licenses.</br>
            You could modify, remove, and add clients' information on this website to better manage them. 
            You could grant fresh licences to either new or existing customers. Additionally, you would be in charge of your own account details.</br>
            Thank You for choosing our platform.</br>

          </p>
        </div>
<!-----------------------------------------------Clients Tab content----------------------------------------------------->
        <div class='tabs__tab' id='Clients' data-tab-info>
          <input type='text' id='myInput' onkeyup='myFunction()' placeholder='Search for client..' title='Type in a name'>
          <div style='overflow-x:auto;'>

            <table id="clientsTable">
              <tr class="header">
                <th>Client ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Software</th>
                <th>SerialNumber</th>
                <th>IssuedOn</th>
                <th>ExpiresOn</th>
                <th>Email</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>1</td>
                <td onclick="populateClientForm(0)">Jane Doe</a> </td>
                <td>Montreal</td>
                <td>Microsoft Office</td>
                <td>15962688</td>
                <td>Dec 24 2018</td>
                <td>Dec 24 2019</td>
                <td><a href="mailto:JaneDoe@example.com" ><button type="button" id="email">Send email</button></a></td>
                <td>Active</td>
              </tr>
              <tr>
                <td>2</td>
                <td onclick="populateClientForm(1)">John Doe</td>
                <td>Montreal</td>
                <td>Adobe Acrobat</td>
                <td>56581455</td>
                <td>Jun 05 2020</td>
                <td>Jun 05 2021</td>
                <td><a href="mailto:JohnDoe@example.com" ><button type="button" id="email">Send email</button></a></td>
                <td>Active</td>
              </tr>
              <tr>
                <td>003</td>
                <td onclick="populateClientForm(2)">Sam Smith</td>
                <td>Montreal</td>
                <td>Microsoft Office</td>
                <td>94315141</td>
                <td>Mar 31 2023</td>
                <td>Mar 31 2024</td>
                <td><a href="mailto:SamSmith@example.com" ><button type="button" id="email">Send email</button></a></td>
                <td>Active</td>
              </tr>
            </table>
            
          </div>

          <form id='clientDetailsForm'>
            <h3> Client Information</h3>           

          
              <label for='fullname'>Full name:</label><br>
              <input type='text' id='fullname' name='fullname'><br>

              <label for='address'>Address:</label><br>
              <input type='text' id='address' name='address'><br>

              <label for='software'>Software:</label><br>
              <input type='text' id='software' name='software'><br>

              <label for='issuedate'>Issued On:</label><br>
              <input type='text' id='issuedate' name='issuedate'><br>

              <label for='expirydate'>Expires On:</label><br>
              <input type='text' id='expirydate' name='expirydate'><br>

              <br>
              <input type='submit' value='Save Changes'><br>
              <button onclick='blockClient()' id='blockclient' type='button' hidden='hidden'>Block client</button><br>
              <button onclick='unblockClient()' id='unblockclient' type='button' hidden='hidden'>Unblock client</button><br>
              <button onclick='renewLicense(event)' id='renewlicense' type='button' hidden='hidden'>Renew license</button><br>
              <button onclick='cancelLicense(event)' id='cancellicense' type='button' hidden='hidden'>Cancel license</button><br>
          </form>
        </div>
<!-------------------------------------------Issue License tab content--------------------------------------------------->
        <div class='tabs__tab' id='IssueLicense' data-tab-info>
          <p id='info'>
            You can issue a client a license to use one of your softwares here.</br>
            Please fill in the needed details and press the button 'Issue License'.
          </p>

          <div class='row'>
            <div class='column'>
              <div class='card'>
                <h3>Microsoft Office</h3>
                  <button onclick='showIssueLicenseForm()' id='il' type='button'>Issue license</button>
    
              </div>
            </div>
          
            <div class='column'>
              <div class='card'>
                <h3>Adobe Acrobat</h3>
                  <button onclick='showIssueLicenseForm()' id='il' type='button'>Issue license</button>
    
              </div>
            </div>
            
            <div class='column'>
              <div class='card'>
                <h3>Software 3</h3>
                  <button onclick='showIssueLicenseForm()' id='il' type='button'>Issue license</button>
    
              </div>
            </div>

          </div>
          <form id='issueLicenseForm' action='/issueLicense' method='POST' hidden>
            <h3> Fill in Client Information to issue a license</h3><br>           
          
            <label for='cliendID'>Client ID:</label><br>
            <input type='text' id='id' name='fullname'><br>
      
              <label for='fullname'>Full name:</label><br>
              <input type='text' id='fn' name='fullname'><br>
          
              <label for='address'>Address:</label><br>
              <input type='text' id='adr' name='address'><br>
      
              <label for='email'> Email:</label><br>
              <input type='text' id='em' name='Email'><br>

              <label for='phonenumber'> Phone Number:</label><br>
              <input type='text' id='phn' name='PhoneNumber'><br>
          
              <label for='software'>Software:</label><br>
              <input type='text' id='sft' name='software'><br>
          
              <br>
              <button onclick='issueLicense(event)' type='button' value='Issue License'>Issue License</button>
          </form>
        </div>
<!--------------------------------------------Provider MyAccount Tab content----------------------------------------------->
        <div class='tabs__tab' id='MyAccount' data-tab-info>
          <h3 id='info'>Below are your account details.</h3>
          
          <form id='providerDetailsForm' action='/saveUpdatedData' method='POST'>
            <h4> Provider Information</h4>
              <label for='companyname'>Company Name:</label><br>
              <input type='text' id='providercompanyname' name='companyname' value='<%= user.CompanyName %>'/><br>

              <label for='address'>Address:</label><br>
              <input type='text' id='provideraddress' name='address' value='<%= user.Address %>'/><br>

              <label for='phonenumber'>Phone Number:</label><br>
              <input type='text' id='providerphonenumber' name='phonenumber' value='<%= user.PhoneNumber %>'/><br>

              <label for='email'>Email:</label><br>
              <input type='email' id='provideremail' name='email' value='<%= user.Email %>'/><br>

              <label for='password'>Password:</label><br>
              <input type='password' id='providerpassword' name='password' value='<%= user.Password %>'/><br>
          
            <br>
            <button onclick='updateProviderDetails(event)' type='submit' class='updatebtn' id='updateButton' value='submit'>Save Changes</button>
          </form><br><br>
          
        </div>
      </div>
    </div>

  <script src='Pages.js'></script>

  <footer class='container' id='footer' >
    <p>Contact Us: </p>
    <p>Email: support@mysoftwaremanager.com</p>
    <p>  Phone: +1-123-456-7890</p>

  </footer>
  </body>
</html>
