#title{
  margin:2%;
  padding:2%;
  background-color:lightblue;
 }

/*styling for tabs*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

.container {
    border: 1px solid grey;
    margin: 2%;
    padding: 16px;
}

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
  margin: 2%;
  color: rgb(0, 0, 0);
}

.tabs {
/*    border-bottom: 1px solid grey;*/
background-color: lightblue;     
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
color: rgb(0, 0, 0);
display: flex;
margin: 2%;
padding: 1%;
gap: 5%;
overflow-x:auto;
}

.tabs span {
  background: lightblue;
    padding: 10px;
}

.tabs span:hover {
  background: rgb(184, 46, 39);
  cursor: pointer;
  color: black;
}

/*styling for client tab content in particular*/
* {
    box-sizing: border-box;
  }
  .header {
    width:10%
  }
  #myInput {
    width: 90%; 
    background-position: 10px 12px; 
    padding: 1%; 
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  #clientsTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    overflow: scroll;
    
  }
  
  #clientsTable th {
    text-align: left; 
    padding: 1%; 
    overflow: hidden;
  }
  #clientsTable td{
    text-align: left; 
    padding: 8px; 
    overflow: hidden;
  }
   
  #clientsTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #clientsTable tr.header, #clientsTable tr:hover {
    background-color: lightblue;
  }

  #email {
    background-color: lightblue; 
    border: none;
    color: black;
    padding: 2%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }
  #email:hover, .button:hover {
    background: rgb(184, 46, 39);
    cursor: pointer;
    color: black;
   
  }

  input[type=text], select, input[type=password], input[type="email"] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 60%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
  }
  input[type=submit]:hover {
    background-color: rgb(184, 46, 39);
  }


  #clientDetailsForm{
    padding: 2%;
    background-color: lightblue;
  
  }
  label{
    font-weight: bold;
  }
  
 
  
  #info{
    margin: 2%;
    }
  
  
  .client-select {
    position: relative;
    font-family: Arial;
  }
  
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  
  .row {margin: 0 -5px;}
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 800px) and (max-height: 800px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: lightblue;
  }
  
  #myAccount{
    background-color: lightblue;
  }


  #signup{
    margin: auto;
    margin:2%;
    background-color: lightblue;
    padding:2%;
       
  }

  button {
    background-color: white;
    color: black;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 350px;
    opacity: 0.9;
  }
  
 button:hover, #il {
    background-color: rgb(184, 46, 39);

  }

  #il{
    background-color: white;
    color: black;
    padding: 10px 10px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    width: auto;
    opacity: 0.9;

  }

#signup2{
  margin: auto;
    margin:2%;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid grey;

}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#footer{
  background-color: lightblue;
}

.tabs__tab{
  padding: 10px;
}
